<h1>Edit <%= @assignment.name %></h1>

<%= form_tag(teacher_class_assignment_path(current_user, @assignment.course_section, @assignment), method: :patch) do %>
	<%= label_tag(:name, "Name") %><br>
  <%= text_field_tag(:name, @assignment.name) %><br>
	<%= label_tag(:points, "Points") %><br>
	<%= number_field_tag(:points, @assignment.points) %><br>
	<%= label_tag(:date_assigned, "Date Assigned") %><br>
	<%= date_field_tag(:date_assigned, @assignment.date_assigned) %><br>
	<%= label_tag(:date_due, "Date Due") %><br>
	<%= date_field_tag(:date_due, @assignment.date_due) %><br>
	<%= select_tag 'category', options_for_select(["Classwork", "Homework", "Test"], @assignment.category) %><br>
  <%= submit_tag "Update Assignment" %>
<% end %>

<%= link_to "Back to your homepage", teacher_class_path(current_user, @assignment.course_section) %>