<div class="row">
	<div class="col-md-4">
		<h1><%= @assignment.name %></h1>
	</div>
	<div class="col-md-8">
		<h1>

		<span class="pull-right">
			Average Score: <span id="average_score"><%= @assignment.average_grade_string %></span>
		</span>

		</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<p>
		
		<p><a href='<%= teacher_class_path(current_user, @assignment.course_section) %>' class="btn btn-primary">Back</a></p><br>
			
		</p>
		<% if @assignment.document.instance.document_file_size %>
			<object width="700" height="850" data="<%=@assignment.document.url(:original)%>"></object>
			<%= link_to "Download", @assignment.document.url(:original, false) %>
		<% end %>
	</div>

		<div class="col-md-4">
		<h3>Scores (out of <%=@assignment.points%> points)</h3>
			<div style="height: 70vh; overflow: scroll;">
			<% @assignment.course_section.students.each do |student| %>
			<div class="row">
					<%= form_for @scores[student.id], html: {student: student.id}, remote: true, authenticity_token: true do |f| %>
				<div class="col-md-9">
						<%= f.label :student, student.full_name %>
						<%= f.hidden_field :student_id, value: student.id %>
						<%= f.hidden_field :assignment_id, value: @assignment.id %>
				</div>
				<div class="col-md-3">
						<%= f.number_field :points_earned, in:0..@assignment.points, class: @scores[student.id].color_class, style: "text-align: center;" %>
						<%= f.submit %>
				</div>
					<% end %>
			</div>
				<% end %>
			</div>
	</div>

</div>