<% message.subject = "Progress Report for #{@student.full_name}" %>

<p>Dear <%= @guardian.full_name %>,</p>

<p>
  I hope this email finds you well.
  Below is a list of <%= @student.first_name %>'s current grades for the semester.
</p>
<% assignments_to_report = @student.assignments.where(course_section_id: @course_section.id) %>
<% assignments_to_report.each do |assignment| %>
  <% score = Score.where(student_id: @student.id, assignment_id: assignment.id).first %>
  <ul>
  <li>Assignment: <%= assignment.name %> (<%= assignment.category %>)</li>
    <% if score %>
      <p>Grade: <%= @student.percent_score_for_assignment(assignment) %> %<p>
    <% end %>
  </ul>
<% end %>

<p>
  Please feel free to reach out to me if you have any questions.
</p><br>