<h1><%= @student.full_name %></h1>

<% @student.course_sections.each do |course_section| %>
  <li><%= link_to course_section.name, teacher_class_path(course_section.teacher, course_section) %></li>
  <% if @student.average_for_course(course_section) %>
    <h3>Average for <%= course_section.name %>: <%= @student.average_for_course(course_section) %></h3>
  <% end %>
<% end %>
  <ol>
    <% @student.assignments.each do |assignment| %>
      <li><%= assignment.category %>: <%= assignment.name %> (max points: <%= assignment.points %>)</li>
      <% if @student.percent_score_for_assignment(assignment) %>
        <h5>Score for <%= assignment.name %>: @student.percent_score_for_assignment(assignment)</h5>
      <% end %>
    <% end %>
  </ol>
<%#= @student.all_scores %>



<% if @student.overall_average %>
  
  <h1>Overall Average: <%= @student.overall_average %></h1>

<% end %>

<!-- <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div> -->


<h2>Works Well With</h2>
<% if @student.buddies.any? %>
  <ul>
    <% @student.buddies.each do |buddy| %>
      <li><%= link_to buddy.full_name, student_path(buddy) %></li>
    <% end %>
  </ul>
<% else %>
<p><%= @student.first_name %> has no work buddies.</p>
<% end %>

<h2>Works Badly With</h2>
<% if @student.enemies.any? %>
  <ul>
    <% @student.enemies.each do |enemy| %>
      <li><%= link_to enemy.full_name, student_path(enemy) %></li>
    <% end %>
  </ul>
<% else %>
<p><%= @student.first_name %> has no work enemies.</p>
<% end %>

<h2><%= link_to "Guardians", student_guardians_path(@student) %></h2>

<%= link_to(:back) %>

