<div class="container">
  <h1><%= @student.full_name %>'s Progress</h1><br>
  <div class="row">
    <div class="col-xs-6">
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Overview for <%= @student.first_name %></h3>
        </div>
        <div class="panel-body">
          <h4>Currently enrolled in:</h4>
          <ol>
            <% @student.course_sections.each do |course| %>
              <li><%= course.name %></li>
            <% end %>
          </ol>
          <% if @student.overall_average %>
            <h4>Overall average in all classes: <%= @student.overall_average %>%</h4>
          <% end %>
          <h4>Overall percentage of assignments completed: <%= @student.percent_assignments_done_overall %>%</h4>
        </div>
      </div>

    </div>
    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @student.first_name %>'s Relationships</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="<%= student_guardians_path(@student) %>" class="list-group-item">
              <h4 class="list-group-item-heading">Get in touch with <%= @student.first_name %>'s Guardians</h4>
              <p class="list-group-item-text" style="padding-left: 20px;">
                <% @student.guardians.each do |guardian| %>
                  <%= guardian.title %> <%= guardian.first_name %> <%= guardian.last_name %><br>
                <% end %>
              </p>
            </a>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Works Well With:</h4>
              <% if @student.buddies.any? %>
              <ul>
                <% @student.buddyships.each do |buddyship| %>
                  <% course_section = CourseSection.find(buddyship.course_section_id) %>
                  <% buddy = Student.find(buddyship.buddy_id) %>
                  <h5><%= link_to buddy.full_name, student_path(buddy) %>  <%= link_to " ✖ ", teacher_class_buddyship_path(course_section.teacher, course_section, buddyship), method: 'DELETE' , data: {confirm: "Are you sure you want to delete this pairing?"} %></h5>
                  
                <% end %>
              </ul>
              <% else %>
              <ul>
                <h5><%= @student.first_name %> doesn't have any work buddies!</h5>
              </ul>
              <% end %>
              <h4>Doesn't Work Well With:</h4>
              <% if @student.enemies.any? %>
              <ul>
                <% @student.enemyships.each do |enemyship| %>
                  <% course_section = CourseSection.find(enemyship.course_section_id) %>
                  <% enemy = Student.find(enemyship.enemy_id) %>
                  <h5><%= link_to enemy.full_name, student_path(enemy) %>  <%= link_to " ✖ ", teacher_class_enemyship_path(course_section.teacher, course_section, enemyship), method: 'DELETE' , data: {confirm: "Are you sure you want to delete this pairing?"} %></h5>
                <% end %>
              </ul>
              <% else %>
              <ul>
                <h5><%= @student.first_name %> doesn't have any non-work buddies!</h5>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @student.course_sections.each do |course_section| %>
    <div class="col-md-12" style="padding-top: 20px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <legend><h3 style="color: #e74944;"><%= course_section.name %></h3>
            <% if @student.average_for_course(course_section) %>
              <h4>Current grade: <%= @student.average_for_course(course_section) %>%</h4>
            <% end %>
        </legend>
        </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2"></div>
            <div class="col-md-8">
            <h4>Percentage of assignments completed for <%= course_section.name %> :</h4>
            <% if @student.percent_assignments_done_for_course(course_section) == 0.0 %>
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger"><p style="color: #e74944;">0%</p></div>
              </div>
            <% elsif @student.percent_assignments_done_for_course(course_section) < 30.0 %>
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" style="width: <%= @student.percent_assignments_done_for_course(course_section) %>%"><%= @student.percent_assignments_done_for_course(course_section).to_i %>%</div>
              </div>
            <% elsif @student.percent_assignments_done_for_course(course_section) > 30.0 && @student.percent_assignments_done_for_course(course_section) < 60.0 %>
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" style="width: <%= @student.percent_assignments_done_for_course(course_section) %>%"><%= @student.percent_assignments_done_for_course(course_section).to_i %>%</div>
              </div>
            <% elsif @student.percent_assignments_done_for_course(course_section) > 60.0 %>
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" style="width: <%= @student.percent_assignments_done_for_course(course_section) %>%"><%= @student.percent_assignments_done_for_course(course_section).to_i %>%</div>
              </div>
            <% end %>
            </div>
            <div class="col-md-2"></div>
          </div>
            <div class="row">
              <div class="col-md-2"></div>
              
              <div class="col-md-8">
              <table class="table table-striped table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Assignment Name</th>
                    <th>Assignment Category</th>
                    <th>Points Possible</th>
                    <th>Grade</th>
                    <th>Overdue?</th>
                  </tr>
                </thead>
                <tbody>
                  <% assignments_for_section = @student.assignments_for_course_section(course_section) %>
                  <% if assignments_for_section %>
                    <% assignments_for_section.each do |assignment|  %>
                      <tr>
                        <td><%= assignment[:name] %></td>
                        <td><%= assignment[:category] %></td>
                        <td><%= assignment[:max_points] %></td>
                          <% if assignment[:percent_score] %>
                            <td><%= assignment[:percent_score] %> %</td>
                          <% else %>
                            <td>--</td>
                          <% end %>
                          <% if assignment[:overdue] %>
                            <td>Yes, this assignment was due on <%= assignment[:date_due] %></td>
                          <% else %>
                            <td>No</td>
                          <% end %>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table> 
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%#= @student.all_scores %>



<%= link_to(:Back) %>

