<h1>Customized Groupings for <%= @group.course_section.name %></h1>

<% @placed_kids.each do |group| %>
    <% group.each do |kid| %>
      <% if kid.has_buddies_at_table?(group) %>
        <% @kids_sitting_with_buddies_counter += 1 %>
        <span class="alert-success">
      <% elsif kid.has_enemies_at_table?(group) %>
        <span class="alert-danger">
      <% else %>
        <span>
      <% end %>
      <li><%= kid.full_name %></li>
      </span>
    <% end %>
    <hr>

<% end %>
<h3>Kids who got placed with at least one buddy: <span style="color:green;"><%= @kids_sitting_with_buddies_counter %></span></h3>

<% if @groups[:unplaceable].size == 0 %>
  <h4 class="alert alert-success">Every student found a seat!</h4>
<% else %>
  <h5 class="alert alert-warning">Sorry, we couldn't find a seat for these students. Try regenerating!</h5>
  <% @unplaced_kids.each do |kid| %>
       <li><%= kid.full_name %></li>
  <% end %>

<% end %>
<h5>Regenerate Groups</h5>
<%= form_tag teacher_class_groups_path(@teacher, @course_section, @group), method: :get do %>
  <%= text_field_tag :group_size, nil, placeholder: "Students per group"%>
  <%= submit_tag "Generate Groups" %>
<% end %>

<h5>Save this grouping</h5>
<%= form_tag teacher_class_groups_path(@teacher, @course_section, @group) do %>
  <% @groups[:groups].each_with_index do |group, i| %>
    <% group.each do |kid| %>
      <%= hidden_field_tag "groups[#{ i }][]", kid.id %>
    <% end %>
  <% end %>
  <%= submit_tag "Save" %>
<% end %>