<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6" style="padding-top: 50px;">
		<div class="well bs-component">
			<legend>Sign up!</legend>
			<%= form_for @teacher, :html => {:class => "form-horizonal"} do |f| %>
				<div class="form-group">
				<%= f.label :first_name, :class => "control-label" %>

				  	<%= f.text_field :first_name, placeholder: "first name", :class => "form-control" %>

			  </div>

			  <div class="form-group">
			  	<%= f.label :last_name, :class => "control-label" %>

				  	<%= f.text_field :last_name, placeholder: "last name", :class => "form-control" %>

			  </div>
			  
			  <div class="form-group">
			  <%= f.label :title, :class => "control-label" %>
				  
				  	<%= f.text_field :title, placeholder: "Ms., Mrs., Mr., Dr., etc.", :class => "form-control" %>
				
			  </div>

			  <div class="form-group">
			  <%= f.label :email, :class => "control-label" %>
			  
			  	<%= f.text_field :email, placeholder: "email address", :class => "form-control" %>
			  
			  </div>
			  
			  <div class="form-group">

				  	<%= f.submit "Sign Up", :class => "btn btn-primary" %>

			  </div>
			<% end %>
			</div>
	</div>
	<div class="col-md-3"></div>
</div>