<!-- FIX THIS TO HAVE ADD COURSE SECTION INSTEAD OF COURSE NAME, VALIDATE FOR NAME UNIQUENESS, DROPDOWN FOR COURSES THAT YOU TEACH -->
<h1>Create a New Section for <%= @course_section.course.name %></h1>

<%= form_for @course_section, url: teacher_classes_path(@teacher) do |f| %>
	<%= f.label :name, "Course Secion Name" %>
	<%= f.text_field :name, placeholder: "e.g. Ruby-007" %>
	<%= f.hidden_field :course_teacher_assignment_id, value: @course_teacher_assignment.id %>
	<%= f.submit %>
<% end %>

