<h1><%= @course_section.name %></h1>
<% if current_user == @course_section.teacher %>

  <%= form_for @student_course_section, url: student_course_sections_path do |f| %>
    <%= f.collection_select(:student_id, Student.all, :id, :full_name, prompt: true) %>
    <%= f.hidden_field :course_section_id, value: @course_section.id %>
    <%= f.submit "Add student", class: "submit" %>
  <% end %>



  Students:
  <ul>
  <% @course_section.students.each do |student| %>
  	<li><%= link_to ' x ', student_course_section_path(StudentCourseSection.find_by(student_id: student.id, course_section_id: @course_section.id), student_id: student.id), method: "delete", data: {confirm: "Are you sure?"} %><%= link_to student.full_name, student_path(student) %></li>
  <% end %>
  </ul>


	Assignments:

	<% @assignments_hash.keys.each do |category| %>
		<div class="assignment-category">
			<h3><%= pluralize(@assignments_hash[category].count, category) %></h3>
			<% @assignments_hash[category].each do |assignment| %>
				<li>
					<%= link_to assignment.name, teacher_class_assignment_path(current_user, @course_section, assignment) %> (<%= assignment.points %> points)
					<% if assignment.date_assigned %>
						<ul>
						<li><%= assignment.date_assigned.strftime("Assigned on %m/%d/%Y at %I:%M%p") %></li>
						</ul>
					<% end %>
					<% if assignment.date_due %>
						<ul>
						<li><%= assignment.date_due.strftime("Due on %m/%d/%Y at %I:%M%p") %></li>
						</ul>
					<% end %>
				<%= link_to "edit", edit_teacher_class_assignment_path(current_user, @course_section, assignment) %> | 
				<%= link_to "delete", teacher_class_assignment_path(current_user, @course_section, assignment), method: "delete", data: {confirm: "Are you sure you want to delete this assignment?"} %><br>
				<% if assignment.document_file_size %>
					<%= link_to "Download #{assignment.document_file_name}", assignment.document.url(:original, false) %><br>
					<%= link_to "Delete #{assignment.document_file_name}", remove_assignment_document_path(:assignment_id => assignment.id) %>
				<% end %>
				</li>
			<% end %>
		</div>
	<% end %>

  <h3><%= link_to "Send an Email", teacher_class_email_path(current_user, @course_section) %></h3>

	<h3>Add an Assignment</h3>
	<%= form_tag(teacher_class_assignments_path(@course_section, current_user), method: :post, :enctype =>"multipart/form-data") do %>
		<%= label_tag(:name, "Name") %><br>
	  <%= text_field_tag(:name) %><br>
		<%= label_tag(:points, "Points") %><br>
		<%= number_field_tag(:points) %><br>
		<%= label_tag(:date_assigned, "Date Assigned") %><br>
		<%= date_field_tag(:date_assigned) %><br>
		<%= label_tag(:date_due, "Date Due") %><br>
		<%= date_field_tag(:date_due) %><br>
		<%= select_tag 'category', options_for_select(["Classwork", "Homework", "Test"]) %><br>
  	<%= file_field_tag(:document) %><br>
	  <%= submit_tag "Add Assignment" %>
	<% end %>


  <h4>Create a pair of work buddies</h4>
  <%= form_for @buddyship, url: teacher_class_buddyships_path(current_user, @course_section), method: :post do |f| %>
    <%= f.collection_select(:student_id, @course_section.students, :id, :full_name, prompt: true) %>
    <%= f.collection_select(:buddy_id, @course_section.students, :id, :full_name, prompt: true) %>
    <%= f.hidden_field :course_section_id, value: @course_section.id %>
    <%= f.submit "Go", class: "submit" %>
  <% end %>

  <h4>Create a pair of work enemies</h4>
  <%= form_for @enemyship, url: teacher_class_enemyships_path(current_user, @course_section), method: :post do |f| %>
    <%= f.collection_select(:student_id, @course_section.students, :id, :full_name, prompt: true) %>
    <%= f.collection_select(:enemy_id, @course_section.students, :id, :full_name, prompt: true) %>
    <%= f.hidden_field :course_section_id, value: @course_section.id %>
    <%= f.submit "Go", class: "submit" %>
  <% end %>

  

  <h4>Generate Work Groups:</h4>


<%= form_tag teacher_class_groups_path(params[:teacher_id], @course_section.id), method: :get do %>
  <%= text_field_tag :group_size, nil, placeholder: "Students per group"%>
  <%= submit_tag "Generate Groups" %>
<% end %>



  
  <p><%= link_to 'Back', teacher_path(@course_section.teacher) %></p>
  <% else %>
    <h2>This is not your class.</h2>

<% end %>